.cycles {
  align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    justify-content: center;
}

.cycleDots {
  display: flex;
  gap: .8rem;
}

.cycleDot {
  background-color: var(--primary);
  border-radius: 100%;
  height: 2rem;
  width: 2rem;
}

.workTime {
  background-color: var(--warning);
}

.shorBreakTime {
  background-attachment: var(--primary);
}

.longBreakTime {
  background-color: var(--info);
}