.form, .formRow {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    justify-content: center;
}

.formRow {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2.4rem;
}